<h3>Messages</h3>
<input id="message-text" type="text" name="messages">
<button id="create-message">Add message</button>
<p id="message-box"></p>
<body></body>

<script type="text/javascript">
  $("#create-message").on("click",function(){
    var new_message = $("#message-text").val();
    $.ajax({
      url: "/messages",
      type: "POST",
      dataType: "json",
      data: { body: new_message}
    }).done(function(data){
      var $text = $("<p>").text(new_message)
      $("body").append(message);
    });
  })
</script>


3WQ34W


