<h2>EVENTS</h2>


<% @profiles.each do |profile| %>
  <ul>
    <li><a href='/search/<%= profile.id %>'><%= profile.name %></a></li>
    <li><%= profile.user_type %>  |  <%= profile.user_type %></li>
  </ul>
<% end %>
