<div class = 'search_bar'>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
</div>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<!--   <header>
    <div class="half">
      <img src="Images/iggmark_logo.png" alt="IGGMARK Logo" class="iggmark-logo vertically-centered">
    </div> -->
<!--     <div class="half">
      <div class="half nav">
        <p><strong>Portfolio</strong></p>
        <p>Profil</p>
        <p>Kontact (@)</p>
      </div> -->
      <div class="half social">
        <div class="social-icons-wrapper horizontally-centered">
          <img src="images/instagram.jpg" class="social-icon" alt="instagram">
          <img src="images/twitter.jpg" class="social-icon" alt="twitter">
          <img src="images/facebook.png" class="social-icon" alt="facebook">
          <img src="images/tumblr.png" class="social-icon" alt="tumblr">
        </div>
      </div>
    </div>
  </header>
  <div class="homepage pic-wrapper">
    <div class="hompage-pic-row horizontally-centered">
      <div class="homepage-pic">
        <img src="images/0.jpg" alt="man with dreads">
      </div>
      <div class="homepage pic">
        <img src="images/1.jpg" alt="bald woman">
      </div>
      <div class="homepage-pic">
        <img src="images/2.jpg" alt="wavy hair woman">
      </div>
      <div class="homepage-pic">
        <img src="images/3.jpg" alt="profile of man with locs">
      </div>
    </div>
    <div class="homepage-pic-row horizontally-centered">
      <div class="homepage-pic">
        <img src="images/4" alt="man with curly hair">
      </div>
      <div class="homepage-pic">
        <img src="images/5" alt="red curly hair woman">
      </div>
      <div class="homepage-pic">
        <img src="images/download.jpg" alt="woman with blue hair">
      </div>
      <div class="homepage-pic">
        <img src="images/6.jpg" alt="woman free form locs">
      </div>
    </div>
    <div class="homepage-pic-row horizontally-centered">
      <div class="homepage pic">
        <img src="images/11.jpg" alt="man with giant fro">
      </div>
      <div class="homepage-pic">
        <img src="images/7.jpg" alt="woman with free form locs">
      </div>
      <div class="homepage-pic">
        <img src="images/down.jpg" alt="man with giant fro">
      </div>
      <div class="homepage-pic">
        <img src="images/f2.jpg" alt="woman with big curls">
      </div>
    </div>
  </div>
  <footer>
    <div class="half">
      <img src="images/fl.jpg" alt="logo">
    </div>
    <div class="half">
      <p class="copyright">@ 2015 Sade Shakur</p>
    </div>
  </footer>
  <script src="scripts/main.js"></script>
</body>
</html>
