<h2>EVENTS</h2>

<a href='/events/new'>Add an event</a>

<% @events.each do |event| %>
<li>
  <a href='/events/show/<%= event.id %>'><%= event.title %><br/>
    <%= event.category %><br/>
    <%= event.date %>
  </a>
<% end %>

